body{
    background-image: url("./image/Netflix-Background.jpg");
}

.button1{
    text-align: right;
}

.Center{
    text-align: center;
    forced-color-adjust: white
    
}
.tag_line
{
    color: aliceblue;
}
.mess{
    color: aliceblue;
}